<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="RavenHQ"
      connectionString="Url=https://porcupine-50km.ravenhq.com;Database=Porcupine-FIFA;ApiKey=93ef2ef4-56fd-4576-84b0-9127f152e081"/>
  </connectionStrings>
</configuration>